<%- include('header') %>
 

   
<section class="content">

  <div class=" bg-dark p-2 text-dark bg-opacity-10 ">
    <h1 >Most rated items</h1>
  </div>

  <div class="row ps-4">
    <div class="card col-lg-4  col-md-6 m-4" style="width: 18rem;">
      <img src="./images/dish-1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Burger</h5>
        <p class="card-text">Some quick example text to build on the card title and  <br>
          <h3>100 Rs only</h3>
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>

    <div class="card col-lg-4  col-md-6 m-4" style="width: 18rem;">
      <img src="./images/dish-2.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Veg Cutlet</h5>
        <p class="card-text">Some quick example text to build on the card title and  <br>
          <h3>100 Rs only</h3>
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>

    <div class="card col--lg-4  col-md-6 m-4" style="width: 18rem;">
      <img src="./images/dish-3.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Fried Chicken</h5>
        <p class="card-text">Some quick example text to build on the card title and  <br>
          <h3>100 Rs only</h3>
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>

     <div class="card col--lg-4  col-md-6 m-4" style="width: 18rem;">
      <img src="./images/dish-3.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Hot Pizza</h5>
        <p class="card-text">Some quick example text to build on the card title and  <br>
          <h3>100 Rs only</h3>
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>
  </div>

  <div class="row ps-4">
    <div class="card col-lg-4  col-md-6 m-4" style="width: 18rem;">
      <img src="./images/dish-4.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Hot Pizza</h5>
        <p class="card-text">Some quick example text to build on the card title and  <br>
          <h3>100 Rs only</h3>
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>

    <div class="card col-lg-4  col-md-6 m-4" style="width: 18rem;">
      <img src="./images/dish-5.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Choco Icecream</h5>
        <p class="card-text">Some quick example text to build on the card title and  <br>
          <h3>100 Rs only</h3>
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>

    <div class="card col--lg-4  col-md-6 m-4" style="width: 18rem;">
      <img src="./images/dish-6.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Chicke fried</h5>
        <p class="card-text">Some quick example text to build on the card title and  <br>
          <h3>100 Rs only</h3>
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>

     <div class="card col--lg-4  col-md-6 m-4" style="width: 18rem;">
      <img src="./images/food1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mix veg</h5>
        <p class="card-text">Some quick example text to build on the card title and  <br>
          <h3>100 Rs only</h3>
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>
  </div>
 </section>
 





 
 <section class="about">
     <h2>About Us</h2>
      <div class="row m-5 p-5">
     
          <div class="image col-lg-4 col-md-6">
              <img src="./images/home-img-2.png" alt="">
          </div>
     
          <div class="content col-lg-8 col-md-6">
              <h3>best food in the country</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, sequi corrupti corporis quaerat voluptatem ipsam neque labore modi autem, saepe numquam quod reprehenderit rem? Tempora aut soluta odio corporis nihil!</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, nemo. Sit porro illo eos cumque deleniti iste alias, eum natus.</p>
              <div class="icons-container">
                  <div class="icons">
                      <i class="fas fa-shipping-fast"></i>
                      <span>free delivery</span>
                  </div>
                  <div class="icons">
                      <i class="fas fa-dollar-sign"></i>
                      <span>easy payments</span>
                  </div>
                  <div class="icons">
                      <i class="fas fa-headset"></i>
                      <span>24/7 service</span>
                  </div>
              </div>
              <button type="button" class="btn btn-dark">Learn More</button>
          </div>
     
      </div>
     
     </section>
    
<section class="order">

  <h2>Order Now</h2>

  
   <div class=" box">

    <form action="/" method="post">

      <div class="row  ms-0 me-0">
        <div class="p-3 col-6">
         <span>Your name:</span> 
          <input type="text" maxlength="80" name="name" size="40"> <br>

          <span>Mobile no.:</span> 
          <input type="text" maxlength="80" name="mob" size="40"> <br>

          <span>e--- -mail:</span> 
          <input type="text" maxlength="80" name="email" size="40"> <br>


          <span>Address</span> <br>
          <textarea name="Address" id="" cols="45" rows="5"></textarea>

        </div>
    

     <div class="p-3 col-6">
      <span>Items name :</span> 
      <input type="text" maxlength="80"  name="items" size="40"> <br>

      <span>Amount Rs :</span> 
      <input type="text" maxlength="80" name="Amount" size="40"> <br>
       

      <div class="custom-select" style="width: 600px; size: 200px; " >
        
      <span>Payment mode  :</span> 
       <select style="width:400px ; height: 50px;margin-top: 20px;" name="Paymode" id="">
        <option value="0">Online payment</option>
        <option value="1">Cash on delivery</option>
       </select>
      </div>
      

  
      <span>Description</span> <br>
      <textarea name="Description" id="" cols="45" rows="5"></textarea>


    </div>
  </div>
    
 <button   type="submit" name="formwala"><h3> Order Now</h3></button>
    </form>
   </div>
 
   
</section>


 

  
  <section class="footer">
      <div class="box">
        <div class="row me-0 ms-0">
          <div class="p-5 col-3">
         <h3>Locations</h3>
    
           <a href="#">India </a> <br>
           <a href="#">Autralia </a> <br>
           <a href="#">USA </a> <br>
           <a href="#">Canada </a>  <br>
           <a href="#">Srilanks </a>  <br>
          </div>
          <div class="p-5 col-3">
            <h3>Quick links</h3>
    
            <a href="#">Home </a> <br>
            <a href="#">About </a> <br>
            <a href="#">Menu </a> <br>
            <a href="#">Order </a>  <br>
            <a href="#">Review </a>  <br>
          </div>
          <div class="p-5 col-3">
            <h3>Contact Info</h3>
    
            <a href="#">91+ 9112345654</a> <br>
            <a href="#">91+ 9112345654</a> <br>
            <a href="#">91+ 9112345654 </a> <br>
            <a href="#">sanskarkr028@gmail.com </a>  <br>
            <a href="#">211112260@gmail.com </a>  <br>
          </div>
          <div class="p-5 col-3">
            <h3>Follow Us</h3>
       
              <a href="#">InstaGram </a> <br>
              <a href="#">Facebook </a> <br>
              <a href="#">Twitter </a> <br>
              <a href="#">linkedIn </a>  <br>
             </div>
        </div>
      </div>
    </section> 
       
  
 <%- include('footer') %>
 


  
  
  