<%- include('header') %>
   
<section class="content">

  <div class=" bg-dark p-2 text-dark bg-opacity-10 ">
    <h1 >Most rated items</h1>
  </div>

  <div class="row ps-4">
    <div class="card col-lg-4  col-md-6 m-4" style="width: 18rem;">
      <img src="./images/dish-1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Burger</h5>
        <p class="card-text">Some quick example text to build on the card title and  <br>
          <h3>100 Rs only</h3>
        <a href="/" class="btn btn-primary"  name="burger" method="post">Add to cart</a>
      </div>
    </div>

    <div class="card col-lg-4  col-md-6 m-4" style="width: 18rem;">
      <img src="./images/dish-2.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Veg Cutlet</h5>
        <p class="card-text">Some quick example text to build on the card title and  <br>
          <h3>150 Rs only</h3>
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>

    <div class="card col--lg-4  col-md-6 m-4" style="width: 18rem;">
      <img src="./images/dish-3.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Fried Chicken</h5>
        <p class="card-text">Some quick example text to build on the card title and  <br>
          <h3>210 Rs only</h3>
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>

     <div class="card col--lg-4  col-md-6 m-4" style="width: 18rem;">
      <img src="./images/dish-3.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Hot Pizza</h5>
        <p class="card-text">Some quick example text to build on the card title and  <br>
          <h3>180 Rs only</h3>
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>
  </div>

  <div class="row ps-4">
    <div class="card col-lg-4  col-md-6 m-4" style="width: 18rem;">
      <img src="./images/dish-4.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Hot Pizza</h5>
        <p class="card-text">Some quick example text to build on the card title and  <br>
          <h3>200 Rs only</h3>
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>

    <div class="card col-lg-4  col-md-6 m-4" style="width: 18rem;">
      <img src="./images/dish-5.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Choco Icecream</h5>
        <p class="card-text">Some quick example text to build on the card title and  <br>
          <h3>60 Rs only</h3>
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>

    <div class="card col--lg-4  col-md-6 m-4" style="width: 18rem;">
      <img src="./images/dish-6.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Chicke fried</h5>
        <p class="card-text">Some quick example text to build on the card title and  <br>
          <h3>240 Rs only</h3>
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>

     <div class="card col--lg-4  col-md-6 m-4" style="width: 18rem;">
      <img src="./images/food1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mix veg</h5>
        <p class="card-text">Some quick example text to build on the card title and  <br>
          <h3>120 Rs only</h3>
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>
  </div>
 </section>
   <%- include('footer') %>
